@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Space Grotesk", sans-serif;
}
